<div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead class="thead-dark">
				<tr>
					<th>Order Id</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
					<tr>
						<td>{{this.coid}}</td>
						<td>
							<form>
								<input type="button" class="btn btn-dark btn-sm" value="Edit" onclick="location.href='/admin/edit/{{this.coid}}'"/>
  								<input type="button" class="btn btn-secondary btn-sm" value="View" onclick="location.href='/admin/view/{{this.coid}}'"/>
  								<input type="button" class="btn btn-secondary btn-sm" value="Delete" onclick="location.href='/admin/delete/{{this.coid}}'"/>
							</form>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
