<div class="jumbotron">
    <h1>Welcome to Fruit Online</h1> 
    <p>Login as admin to edit inventory, historical orders etc...</p>
    <p>Login as client to order items, view historical orders etc...</p>
    <p>Use Swagger UI to access API</p>
    <input type="submit" value="Admin" 
        class="btn btn btn-dark btn-lg" onclick="gotoadmin()">
    <input type="button" value="Customer" 
        class="btn btn-dark btn-lg" onclick="gotocustomer()">
    <input type="button" value="Swagger" 
        class="btn btn-dark btn-lg" onclick="gotoswagger()">
</div>